server {
  listen                  443 ssl;
  listen                  [::]:443 ssl;
  server_name             domain.com;

  # SSL
  ssl_certificate         /etc/letsencrypt/live/domain.com/fullchain.pem;
  ssl_certificate_key     /etc/letsencrypt/live/domain.com/privkey.pem;
  ssl_trusted_certificate /etc/letsencrypt/live/domain.com/chain.pem;

  # security
  include                 partials/security.conf;

  # logging
  access_log              /var/log/nginx/access.log combined buffer=512k flush=1m;
  error_log               /var/log/nginx/error.log warn;

  # additional config
  include partials/general.conf;

  # reverse proxy
  location / {
    proxy_pass            http://192.168.1.100:8006;
    proxy_set_header Host $host;
    include               partials/proxy.conf;
  }
}